name: Extension Checking

on:
  push:
    branches: [main, master]

  pull_request:
    branches: [main, master]

jobs:
  built:

    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0


  
  extension-check:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3      

    - name: Lint Filenames
      uses: batista/lint-filenames@v1.0.1

      with:
        path: "./fileName/jsonFile"
        pattern: "\\.json$"

    - name: Lint Filenames
      uses: batista/lint-filenames@v1.0.1

      with:
        path: "./fileName/xmlFile"
        pattern: "\\.xml$"
